.re-toaster {
  &__animate {
    overflow: hidden;
  }
  &__animate-enter {
    animation-duration: 600ms;
    animation-name: slideInFromTop;
  }
  &__animate-leave {
    animation-duration: 800ms;
    animation-name: slideOutToRightAndShrink;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translate(0, -5000px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slideOutToRightAndShrink {
  from {
    transform: translate(0, 0);
    max-height: 5000px;
    opacity: 1;
  }

  to {
    transform: translate(500px, 0);
    max-height: 0;
    opacity: 0;
  }
}
