.notification-toaster {
  position: fixed;
  overflow: hidden;
  top:0;
  right: 0;
  padding: 10px;
  z-index: 1000;

  &__toast-close {
    float: right;
    color: #a7a3a3;
    cursor: pointer;
    line-height: 0;
    font-size: 20px;

    &:hover {
      color: #646464;
    }
  }
  &__toast {
    margin: 5px;
    background: #fbfbfb;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 400px;
    overflow: hidden;
  }
  &__toast-base {
    padding: 10px 5px 10px 72px;
  }
  &__toast__icon {
    float: left;
    padding: 10px;
    width: 62px;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    line-height: 1;
  }
  &__toast-success {
    &__header,
    &__icon {
      color: #5cb85c;
    }
  }
  &__toast-notification {
    &__header,
    &__icon {
      color: #337ab7;
    }
  }
  &__toast-warn {
    &__header,
    &__icon {
      color: #f0ad4e;
    }
  }
  &__toast-error {
    &__header,
    &__icon {
      color: #d9534f;
    }
    &__icon {
      font-size: 60px;
      line-height: 0.7;
    }
  }
}
