$color-success: #5cb85c;
$color-note: #337ab7;
$color-warn: #f0ad4e;
$color-error: #d9534f;
$color-base: #f3f3f3;
$color-border: #cecece;

.re-toaster {
  position: fixed;
  overflow: hidden;
  top:0;
  right: 0;
  padding: 10px;
  z-index: 1000;

  &__close {
    float: right;
    cursor: pointer;
  }
  &__toast {
    margin: 5px;
    border: 1px solid $color-border;
    border-radius: 5px;
    width: 400px;
    overflow: hidden;

    &-base {
      padding: 10px 15px;
      margin-left: 75px;
      background: $color-base;
      min-height: 55px;
    }
    &-success {
      background: $color-success;
    }
    &-note {
      background: $color-note;
    }
    &-warn {
      background: $color-warn;
    }
    &-error {
      background: $color-error;
    }
  }
  &__icon {
    float: left;
    text-align: center;
    width: 75px;
    padding-top: 25px;
  }
  &__header {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 15px;

    &-success {
      color: $color-success;
    }
    &-note {
      color: $color-note;
    }
    &-warn {
      color: $color-warn;
    }
    &-error {
      color: $color-error;
    }
  }
}
